#container {
    width: 45vw;
    height: 45vw;
    display: grid;
    column-gap: 0px;
    border: black solid 1px;
}

.pixel {
    width: auto;
    height: auto;
    border: black solid 1px;
    border-width: 1px;
}

