#container {
    display: grid;
    column-gap: 0px;
    width: 45vw;
    height: 45vw;
    border: solid black 1px;
}

.square {
    border: solid black;
    border-width: 1px;
    width: auto;
    height: auto;
}

.filledBlack {
    background-color: black;
}